{{!< default}}

<section class="{{body_class}}">
    <div class="container">

        <div class="row grid">
        <div class="col-md-12">
        <h3 class="blog-description">{{@blog.description}}</h3>
        </div>
			{{#if posts}}
				{{#foreach posts}}
					{{> loop_post}}
            	{{/foreach}}
			{{else}}
				{{> empty_posts}}
			{{/if}}
        </div>

    </div>
</section>

{{pagination}}
