<!--
	Add your sns buttons and modify href attribute.
	Reference: https://github.com/lipis/bootstrap-social
-->
<div class="widgets">
	<a class="btn btn-social-icon btn-sm" href="http://www.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
	<a class="btn btn-social-icon btn-sm" href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
	<a class="btn btn-social-icon btn-sm" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
	<a class="btn btn-social-icon btn-sm" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
	<a class="btn btn-social-icon btn-sm" href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss"></i></a>
</div>
